---
import BaseLayout from '../layouts/BaseLayout.astro';

const siteName = "Astor";
const title = `About`;
const data = {
    title,
    siteName
}
---
<BaseLayout data={data}>
    
    <main class="container">

        <div id="message">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        
        <button hx-post="/partials/clicked" hx-target="#message" hx-swap="innerHTML">
            htmx Click Me
        </button>

        <div x-data="{ open: false }">
            <button @click="open = ! open">
                alpine.js Toggle
            </button>
         
            <div x-show="open" @click.outside="open = false">
                <h1 x-data="{ message: 'I ❤️ Alpine' }" x-text="message"></h1>
            </div>
        </div>
    </main>

</BaseLayout>