---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';

const siteName = "Astor";
const title = `Welcome to ${siteName}`;
const data = {
    title,
    siteName
}
---
<BaseLayout data={data}>
    <Header title={data.title}></Header>
    <Main>
        <p>:)</p>
    </Main>
</BaseLayout>